/*
  Application Colors
*/

$color: #363942;
$color-disabled: #999;

$border-color: $color-disabled;

$button-background: white;
$button-color: $color;

$button-active-background: #d8caa8;
$button-active-color: $color;

$button-disabled-color: $color-disabled;
