/*
  Application Colors
*/

$color: #363942;
$color-disabled: #ccc;

$border-color: $color-disabled;

$button-background: white;
$button-color: $color;

$button-active-background: #a07a6b;
$button-hover-background: #930c72;
$button-active-color: white;

$button-disabled-color: $color-disabled;
